{% extends "layout.html" %}
    {% block title %}EventEat - Chi Siamo{% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="/static/css/about.css">
    {% endblock %}

    {% block content %}
        <br><br>
        <section class="container about">
            <h2>Chi Siamo</h2>
            <div class="about-content">
                <div class="about-text">
                    <p>EventEat è una piattaforma dedicata agli amanti della buona cucina e della convivialità. Il nostro obiettivo è rendere l’esperienza gastronomica un’opportunità per tutti, creando eventi esclusivi nei migliori ristoranti locali. Offriamo eventi unici, come degustazioni, serate a tema e corsi di cucina, pensati per far vivere ai nostri utenti un'esperienza culinaria senza pari.</p>

                    <p>Crediamo che il cibo abbia un potere speciale: quello di unire le persone, trasmettere emozioni e creare ricordi indelebili. Per questo ci impegniamo a selezionare solo i migliori ristoranti e cuochi, offrendo eventi che soddisfano ogni tipo di palato e preferenza. Se anche tu vuoi vivere un'esperienza gastronomica unica, EventEat è il posto giusto per te!</p>

                    <p>Unisciti alla nostra community e scopri come possiamo rendere speciale ogni tuo pasto.</p>
                </div>
                <div class="about-image">
                    <img src="/static/images/whoami.jpg" alt="EventEat - Chi siamo">
                </div>
            </div>
        </section>

        <!-- Sezione Mission -->
        <section class="container mission">
            <h2>La Nostra Missione</h2>
            <p>La nostra missione è semplice: far vivere esperienze culinarie straordinarie attraverso eventi unici, in modo che ogni persona possa scoprire, apprendere e godere di nuovi sapori, con l’opportunità di connettersi con altri appassionati di gastronomia. Siamo qui per creare esperienze che rimangano nella memoria di chi partecipa e per supportare i ristoranti e le cucine locali.</p>
        </section>
    {% endblock %}